@use '../styles/variables' as *;

.garage__form {
  input[type='text'] {
    padding: $space-1;
    border: 1px solid $color-text-light;
    background: linear-gradient(
      to right,
      $color-primary-dark 0%,
      $color-primary-dark 100%
    );
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: all $transition-normal $easing-standard;
    color: $color-text-light;
    font-family: 'Lato', sans-serif;
    font-weight: 500;

    &::placeholder {
      color: $color-text-light;
      transition: color $transition-normal $easing-standard;
    }

    &:focus {
      outline: none;
      color: $color-light;
      background-size: 100% 100%;
      box-shadow: 0 $space-1 $space-3 rgba($color-primary-dark, 0.6);

      &::placeholder {
        color: $color-light;
      }
    }
  }
}

input[type='color'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: $btn-height;
  height: $btn-height;
  border: 1px solid $color-text-light;
  border-radius: $border-radius-md;
  padding: 0;
  cursor: pointer;
  background: none;
  position: relative;
  box-shadow: 0 2px 6px rgba($color-text-light, 0.5);
  transition: all $transition-normal $easing-standard;

  &::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  &::-webkit-color-swatch {
    border: none;
    border-radius: 0;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: 0;
  }

  &:hover {
    box-shadow: 0 4px 10px rgba($color-text-light, 0.6);
    transform: translateY(calc($space-0 / -2));
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba($color-text-light, 0.5);
  }
}
