@use 'sass:color';
@use '../styles/variables' as *;

.garage__car-row {
  padding: $space-1;
  border-bottom: 1px solid $color-surface;

  span {
    font-weight: bold;
  }

  &__buttons {
    button {
      padding: calc($space-0) $space-1;
      border: none;
      border-radius: $border-radius-md;
      cursor: pointer;

      &:first-child {
        background-color: $color-success;
        color: $color-light;

        &:hover {
          background-color: color.adjust($color-success, $lightness: -10%);
        }
      }

      &:last-child {
        background-color: $color-error;
        color: $color-light;

        &:hover {
          background-color: color.adjust($color-error, $lightness: -10%);
        }
      }
    }
  }
}
