@use 'sass:color';
@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.garage {
  color: $text-color;

  &__header {
    margin-bottom: $space-4;
    h1 {
      color: $heading-color;
    }
  }

  &__controls {
    justify-content: space-between;
    display: flex;
    position: relative;
    margin-bottom: $space-5; 
    background-color: $color-surface;
    padding: $space-2 + $space-1;
    flex-direction: row-reverse;
  }

  &__race-controls {
    display: flex;
    gap: $space-2 + $space-1;
  }

  &__form {
    display: flex;
    gap: $space-2;
  }

  &__car-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $space-2;
    border-bottom: 1px solid $color-surface;
  }
  &__footer {
    display: flex;
    text-align: center;
    background-color: $color-surface;
    align-items: center;
    justify-content: space-between;
    padding: $space-2 + $space-1;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    gap: $space-4;
  }
  &__pagination--current {
    display: flex;
    font-weight: bold;
    align-items: center;
  }

  .button--race {
    @include button;
    background-color: $color-success;
    color: white;

    &:hover:not(:disabled) {
      background-color: color.adjust($color-success, $lightness: -10%);
    }

    &:disabled {
      background-color: color.adjust($color-success, $lightness: 20%);
      cursor: not-allowed;
    }
  }

  .button--reset {
    @include button;
    background-color: $color-warning;
    color: white;

    &:hover:not(:disabled) {
      background-color: color.adjust($color-warning, $lightness: -10%);
    }
  }
}

.car-row__buttons {
  display: flex;
  gap: $space-2;
}

.winner-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-modal;

  &__content {
    background-color: $color-light;
    padding: $space-5;
    border-radius: $radius-lg;
    box-shadow: $shadow-elevation;
    text-align: center;
    max-width: 400px;

    h3 {
      font-size: 24px;
      margin-bottom: $space-2 + $space-1;
      color: $color-success;
    }

    p {
      margin-bottom: $space-5;
    }

    button {
      @include button;
      background-color: $color-primary;
      color: white;

      &:hover {
        background-color: color.adjust($color-primary, $lightness: -10%);
      }
    }
  }
}
